<!--/* head */-->
<th:block th:replace="~{/frags/head :: head}"></th:block>

	<body class="d-flex flex-column justify-content-between">

		<!--/* header */-->
		<th:block th:replace="~{/frags/header :: header}"></th:block>

		<main class="py-5 d-flex flex-column justify-content-center align-items-center">
	
      <!--* Mostra il messaggio di errore se presente il parametro error nell'url: http://localhost:8080/account/login?error -->
      <div th:if="${param.error}" class="alert alert-danger" role="alert">
        Invalid credentials. Please try again.
      </div>

			<form th:action="@{/account/login}" method="post">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    
		</main>
		
		<!--/* footer */-->
		<th:block th:replace="~{/frags/footer :: footer}"></th:block>

	</body>

</html>

