<!-- head -->
<th:block th:replace="~{/frags/head :: head}"></th:block>

<body th:object="${product}" class="d-flex flex-column justify-content-between">

	<!-- header -->
	<th:block th:replace="~{/frags/header :: header}"></th:block>

	<main>
		<div class="py-5 d-flex flex-column justify-content-center align-items-center text-center mx-2">
			<div class="d-flex align-items-center">
				<h2 class="mb-2 me-2">[[*{name}]]</h2> 
			</div>

			<!-- * soluzione 1 per mostrare le immagini-->
			<img th:if="${#strings.startsWith(product.image, 'https://') or #strings.startsWith(product.image, 'http://')}" alt="" th:src="${product.image}" th:alt="${product.image}" class="img-show-page my-2 rounded">
			<img th:if="${not #strings.startsWith(product.image, 'https://') and not #strings.startsWith(product.image, 'http://')}" alt="" th:src="@{/img/__${product.image}__}" th:alt="${product.image}" class="img-show-page my-2 rounded">
			<!-- * soluzione 2 per mostrare le immagini-->
			<!-- <img th:src="@{/img/{image}(image=${product.image})}" th:alt="${product.image}" class="my-2 w-50"> -->
			
			<h4><span>Price:</span> € [[*{formattedPrice}]]</h4>
			<!-- oppure -->
			<!-- <h4><span>Price:</span> € [[${product.formattedPrice}]]</h4> -->
		</div>

		<div class="mx-auto w-75">
			<h2><span>Reviews:</span></h2>

			<h3 th:if="${reviews.size() == 0}">
				No reviews yet
			</h3>

			<div th:if="${reviews.size() != 0}" th:each="review : ${reviews}" th:object="${review}">
				<div class="d-flex align-items-end justify-content-between mb-2">
					<h5 th:if="${session.username == review.account.username}" class="me-5 p-0 mb-0"><span>You</span></h5>
					<h5 th:if="${session.username != review.account.username}" class="me-5 p-0 mb-0"><span>[[*{account.username}]]</span></h5>
					<div class="date-review p-0">[[*{getFormattedDatePost}]]</div> 
				</div>
				<p class="me-5 mb-1 fs-6"><span>[[*{rating}]]⭐</span></p>
				<!-- oppure -->
				<!--/* <p>[[*{formattedDatePost}]]</p> */-->
				<p class="me-2">[[*{content}]]</p>
				<hr>
			</div>
		</div>

	</main>
	<!-- footer -->
	<th:block th:replace="~{/frags/footer :: footer}"></th:block>

</body>

</html>